<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-xl px-4 md:px-8">
    <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
      <div>
        <div
          class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto"
        >
          <img
            src="https://images.unsplash.com/photo-1610465299996-30f240ac2b1c?auto=format&q=75&fit=crop&w=600&h=750"
            loading="lazy"
            alt="Photo by Martin Sanchez"
            class="h-full w-full object-cover object-center"
          />
        </div>
      </div>

      <div class="md:pt-0 pt-0">
        <p class="text-center font-bold text-indigo-500 md:text-left">
          En OneSoftNow Estamos
        </p>

        <h1
          class="mb-4 text-center text-2xl font-bold text-gray-800 sm:text-3xl md:mb-6 md:text-left"
        >
          Transformando Ideas en Soluciones Digitales
        </h1>

        <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
          Buscamos trascender las barreras convencionales del desarrollo y
          posicionamiento digital para Empresas, al ofrecer un enfoque integral
          que va más allá de la mera creación de software. Somos un equipo
          completo de arquitectos digitales comprometidos con la excelencia y
          exito de su empresa, fusionando servicios y productos digitales para
          proporcionar a nuestros clientes una experiencia única.<br /><br />

          Desde Onesoftnow te queremos invitar a que formes parte de esta
          revolución digital con nosotros. Un equipo que no solo transforma
          ideas en verdaderas soluciones digitales, sino que también creamos un
          viaje colaborativo donde tu visión se convierte en nuestra misión.
          Descubre cómo podemos impulsar tu crecimiento y mejorar tu presencia
          en línea de maneras que superan tus expectativas. <a
            href="#contact"
            class="text-indigo-500 underline transition duration-100 hover:text-indigo-600 active:text-indigo-700"
            >contactanos</a
          >
        </p>

        <h2
          class="mb-2 text-center text-xl font-semibold text-gray-800 sm:text-2xl md:mb-4 md:text-left"
        >
          A que nos dedicamos?
        </h2>

        <p class="mb-6 text-gray-500 sm:text-lg md:mb-8">
          En Onesoftnow, nos especializamos en el desarrollo y posicionamiento
          digital para empresas, ofreciendo soluciones innovadoras que abarcan
          desde el diseño de sitios web modernos y personalizados según la
          temática de tu negocio, hasta el desarrollo de plataformas para la
          gestión eficiente de tu empresa, la administración y crecimiento de
          tus redes sociales, y la venta de contenido estratégico. Todo nuestro
          enfoque está orientado a impulsar tu crecimiento y presencia en línea,
          proporcionando servicios y comunicación de la más alta calidad. La
          escalabilidad es una de nuestras principales características,
          asegurándote que no hay límites para la mejora continua. En
          Onesoftnow, creemos que siempre puedes alcanzar más y estamos aquí
          para llevar tu presencia digital al siguiente nivel.
        </p>
        <p class="mb-6 text-gray-500 sm:text-lg">
          Todo gracias a las personas que hacer realidad la compañia de
          Onesoftnow a nuestros clientes.
        </p>
      </div>
    </div>
  </div>
</div>
