---

---

<section>
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-xl px-4 md:px-8">
      <div class="flex flex-col text-center w-full mb-12">
        <h1
          class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
        >
          ¡Confíe en nosotros para transformar su visión en realidad!
        </h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
          Nuestra experiencia, compromiso y soluciones innovadoras están
          diseñadas para llevar su negocio al siguiente nivel. Contáctenos hoy y
          descubra cómo podemos convertir sus ideas en soluciones digitales
          exitosas. Estamos aquí para impulsar su crecimiento y asegurar que
          cada paso en el mundo digital sea un éxito.
        </p>
        <div class="flex justify-around md:mt-4 mt-6">
          <a
            href="/portafolio"
            class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg bg-gradient-to-br from-purple-600 to-blue-500"
          >
            <span
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0"
            >
              Portafolios de proyectos OneSoftNow
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
