---
import Form from './FormContact.astro';
---

<p
  class="mx-auto sm:w-1/2 w-full sm:text-center sm:p-0 p-5 prose-gray sm:text-5xl text-3xl font-medium"
>
  Te asesoramos de principio a fin en todo el proceso de crear tu negocio o
  administrar tu empresa
</p>
<p class="mx-auto mb-5 prose-gray text-4xl p-5 font-thin">
  No dudes en contactarnos
</p>
<div class="text-gray-600 body-font relative">
  <div class="absolute inset-0 bg-gray-300">
    <iframe
      style="filter: grayscale(1) contrast(1.2) opacity(0.4);"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254334.8854887892!2d-72.85863562379765!3d5.106506934738708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6b231e04d07407%3A0xfc6baa0ee736b790!2sAguazul%2C%20Casanare%2C%20Colombia!5e0!3m2!1sen!2sus!4v1708114322587!5m2!1sen!2sus"
      width="100%"
      height="100%"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="container px-5 sm:py-24 py-5 mx-auto flex">
    <Form />
  </div>
</div>
