<div id="burguer" class="items-center sm:hidden block z-10 justify-end">
    <div
      class="group flex cursor-pointer items-center justify-center rounded-3xl p-2"
    >
      <div class="space-y-2">
        <span
          class="block h-1 w-10 origin-center rounded-full bg-slate-500 transition-transform ease-in-out group-hover:translate-y-1.5 group-hover:rotate-45"
        ></span>
        <span
          class="block h-1 w-8 origin-center rounded-full bg-orange-500 transition-transform ease-in-out group-hover:w-10 group-hover:-translate-y-1.5 group-hover:-rotate-45"
        ></span>
      </div>
    </div>
  </div>
  